$backColor: #000000;
$mainColor: #ebe9c5;

$txtBlue: #1067AE;
$txtWhite: #FFFFFF;
$txtError: #C11414;

@mixin titleTxt{
    font-size: 32px;
}
@mixin mainTxt{
    font-size: 1.5rem;
}
@mixin errorTxt{
    font-size: 1.13rem;
    color: $txtError;
}
@mixin shadowBox {
    border: none;
    box-shadow: inset 0px 4px 4px 
    rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
body{
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 15vh 85vh;
    font-family: 'El Messiri', sans-serif;
    p, h1, h2{
        margin: 0;
        padding: 0;
    }
}

/* Formulaire */
header{
    grid-area: 1/2/2/3;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    @include titleTxt;
    background: $mainColor;
    h1{
        border-bottom: 2px solid black;
        margin: 0 30px;
    } 
}
main{
    grid-area: 2/2/3/3;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $mainColor;
    .txtError, .txtValider{
        visibility: hidden;
    }
    form{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 10vh repeat(3, 8vh) 15vh repeat(2, 8vh);
        width: 70%;
        h2{
            grid-area: 1/1/2/4;
            text-align: center;
            font-size: 3.5rem;
        }
        div{
            input[type=text]{
                width: 100%;
                height: 60%;
                font-family: 'El Messiri', sans-serif;
                @include shadowBox;
                @include mainTxt;
                padding-left: 15px;
                &::placeholder{
                    @include mainTxt;
                }
                &:focus::placeholder{
                    transition: 0.5s ease-in;
                    color: transparent;
                }
            }
            input[type=email]{
                width: 100%;
                height: 60%;
                font-family: 'El Messiri', sans-serif;
                @include shadowBox;
                @include mainTxt;
                padding-left: 15px;
                &::placeholder{
                    @include mainTxt;
                }
                &:focus::placeholder{
                    transition: 0.5s ease-in;
                    color: transparent;
                }
            }
            .txtError{
                @include errorTxt;
            }
        }
        .boxNom{
            grid-area: 2/1/3/4;
        }
        .boxPrenom{
            grid-area: 3/1/4/4;
        }
        .boxEmail{
            grid-area: 4/1/5/4;
        }
        textarea{
            grid-area: 5/1/6/4;
            resize: none;
            width: 100%;
            @include shadowBox;
            @include mainTxt;
            padding-left: 15px;
            font-family: 'El Messiri', sans-serif;
            &:focus::placeholder{
                transition: 0.5s ease-in;
                color: transparent;
            }
        }
        .txtValider{
            grid-area: 6/2/7/3;
            text-align: center;
            @include mainTxt;
        }
        input[type=submit]{
            grid-area: 7/2/8/3;
            cursor: pointer;
            border: none;
            border-radius: 10px;
            font-family: 'El Messiri', sans-serif;
            font-size: 2.25rem;
            background-color: #1067AE;
            color: #FFFFFF;
            box-shadow: 0px 4px 4px #4b4b4b;
            &:active{
                box-shadow: inset 4px 4px 4px #4b4b4b;
            }
        }
    }
}    

/* Image de gauche + lien artiste */
aside{
    grid-area: 1/1/3/2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: $backColor;
    color: $txtWhite;
    font-family: 'Skranji', sans-serif;
    .imgFull{
        max-height: 80%;
        max-width: 100%;
    }
    .imgCrop{
        display: none;
    }
    div{
        width: 90%;
        a[href]{
            text-align: left;
            text-decoration: none;
            color: $txtWhite;
            @include mainTxt;
            &:hover{
                text-decoration: underline;
                color: $txtBlue;
            }
        }
    }
}
@media screen and (max-width: 780px) and (min-width: 425px){
    body{
        grid-template-columns: 100vw;
        grid-template-rows: 12vh 28vh 60vh;
        header{
           grid-area: 1/1/2/2;
           h1{
               font-size: 60px;
               border: hidden;
           }
        }
        aside{
            grid-area: 2/1/3/2;
            display: grid;
            grid-template-columns: 20vw 1fr 2fr 1fr 20vw;
            grid-template-rows: 1fr 1fr;
            .imgFull{
                display: none;
            }
            .imgCrop{
                display: block;
                grid-area: 1/3/3/4;
                max-width: 100%;
            }
            div{
                grid-area: 1/1/2/2;
            }
        }
        main{
            grid-area: 3/1/4/2;

            form{
                grid-template-rows: 8vh repeat(3, 8vh) 12vh repeat(2, 5vh);
                h2{
                    font-size: 35px;
                }
                input[type=submit]{
                    font-size: 30px;
                }
            }
        }
    }
    
}
@media screen and (max-width: 425px){
    body{
        grid-template-columns: 100%;
        grid-template-rows: 10vh 30vh 60vh;
        header{
           grid-area: 1/1/2/2;
           h1{
               border: hidden;
               font-size: 40px;
           }
        }
        aside{
            grid-area: 2/1/3/2;
            display: grid;
            grid-template-columns: 20vw 1fr 60vw 1fr 20vw;
            grid-template-rows: 1fr 1fr;
            font-size: 0.2rem;
            .imgFull{
                display: none;
            }
            .imgCrop{
                display: block;
                grid-area: 1/3/3/4;
                max-width: 100%;
                max-height: 95%;
            }
            div{
                grid-area: 1/1/2/2;
                height: 80%;
                a[href]{
                    font-size: 15px;
                    margin-left: 10px;
                }
            }
        }
        main{
            grid-area: 3/1/4/2;
            h2{
                font-size: 35px;
                margin: 1.5px;
            }
            form{
                grid-template-rows: 5vh repeat(3, 8vh) 12vh repeat(2, 5vh);
                h2{
                    font-size: 2em;
                }
                input[type=submit]{
                    font-size: 25px;
                }
            }
        }
    }
}